/* style.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(https://github.com/akinadayo/Website_test/blob/main/%E8%83%8C%E6%99%AF.png?raw=true);
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: transparent;
    flex-grow: 1; 

}
.white-container {
    background-color:  rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px 0;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-logo {
    max-width: 100px; /* ロゴのサイズ調整 */
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}




.app-button {
    transition: all 0.3s ease;
    border: 3px solid transparent;
    border-radius: 15px;
}

.app-button:hover {
    border: 3px solid white; 
    border-radius: 15px;
}
