/* style.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: white; /* テキストの色を白に設定 */
    font-size: 40px;
    text-align: left; /* テキストを右揃えに設定 */
    margin-top: 60px; /* 上部の余白を設定 */
    margin-left: 30px; /* 右側の余白を設定 */
}

p {
    color: white; /* テキストの色を白に設定 */
    font-size: 20px;
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(https://github.com/akinadayo/Website_test/blob/main/%E8%83%8C%E6%99%AF.png?raw=true);
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-position: center; /* 画像の中心を基準にする */
    background-size: cover; /* 画像が常にコンテナを覆うようにする */
    background-repeat: no-repeat; /* 画像が繰り返されないようにする */
    background-attachment: fixed;
}

.message-container {
    background-color:  transparent;
    text-align: right;
    font-size: 25px; 
    color: white;
    margin-top: 100px;
    margin-right: 100px; 
    margin-bottom: 300px;
}

@media screen and (max-width: 1000px) {
    .message-container {
        background-color:  transparent;
        text-align: right;
        font-size: 25px; 
        color: white;
        margin-top: 400px;
        margin-right: 10px; 
        margin-bottom: 100px;
    }
}



/* .button-container {
    background-color:  transparent;
    padding: 20px;
    margin: 20px 0;
    width: 300px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
} */

.app-button {
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-radius: 8px;
}

.app-button:hover {
    border: 2px solid white; 
    border-radius: 8px;
}

.container {
    background-color: transparent;
    flex: 1;

}

.notification-wrapper {
    position: relative; /* 相対位置指定 */
}

.news-label {
    position: absolute; /* 絶対位置指定 */
    top: 0; /* 上端からの位置 */
    left: 50px; /* 右端からの位置 */
    background-color: black; /* 背景色 */
    color: white; /* テキスト色 */
    padding: 5px 10px; /* パディング */
    border-radius: 0 0 0 10px; /* 角の丸み */
}

.notification-box {
    background-color: rgba(0, 0, 0, 0.5); /* お知らせボックスの背景色 */
    /* その他のスタイル */
}


.notification-box {
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
    color: white; /* テキストの色 */
    padding: 15px; /* 内側の余白 */
    margin: 20px; /* 外側の余白 */
    border-radius: 10px; /* 角の丸み */
    width: 80%; /* ボックスの幅 */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影の効果 */
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-logo {
    max-width: 120px; /* ロゴのサイズ調整 */
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}




